@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-montserrat: "Montserrat", "sans-serif";
    --font-nunito: "Nunito", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.container-spacing {
    padding-bottom: 6.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 6.25rem;
}
